body {
    background-color: rgb(83, 7, 102);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
} 

button {
    background-color: rgb(151, 10, 151);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}